html {
    margin: auto;
    display: table;
}

body {
    background-image: url("./image_files/planes_flight_background.jpg");
    background-size: 20%;
    margin-top: 0px;
    margin-bottom: 0px;
}

h1 {
    text-align: center;
    font-family: 'Bungee Shade', cursive;
    font-size: 70px;
}

h2{
    text-align: center;
    font-family: 'Bungee Shade', cursive;  
}

h5 {
    text-align: center;
}

p {
    font-family: 'Cutive', serif;
}

.vega-bind-name {
    font-family: 'Cutive', serif;
}

br {
    display: block;
    content: " ";
    margin: 30px 0;
    background-color: #525bff;
}

.row {
    display: flex;
}

.columm_left {
    max-width: 50%;
    float: left;
}

.columm_right {
    max-width: 50%;
    float: right;
}

.chart_wrapper {
    background-color: #525bff;
}

#main_body_css {
    width: 1300px;
    vertical-align: middle;
    display: table-cell;
    background-color: rgb(234, 241, 244);
}

#title {
    background-image: url("./image_files/travel_background_updated.png");
    background-repeat: no-repeat;
    background-size:cover;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 100px;
    padding-bottom: 100px;
}

#explanation {
    background-color: #bde4f3;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    border-radius: 30px;
}

#vis_section_text {
    background-color: #bde4f3;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    border-radius: 30px;
}

.wrapper {
    position: relative;
    background-color: #525bff;
    margin-top: 0px;
    margin-bottom: 5px;
    padding-top: 0px;
    padding-bottom: 135px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.wrapper_vis2 {
    position: relative;
    background-color: #525bff;
    margin-top: 0px;
    margin-bottom: 5px;
    padding-top: 0px;
    padding-bottom: 135px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.wrapper_vis3 {
    position: relative;
    background-color: #525bff;
    margin-top: 0px;
    margin-bottom: 5px;
    padding-top: 0px;
    padding-bottom: 210px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.wrapper_vis4 {
    position: relative;
    background-color: #525bff;
    margin-top: 0px;
    margin-bottom: 5px;
    padding-top: 0px;
    padding-bottom: 170px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.wrapper_vis5 {
    position: relative;
    background-color: #525bff;
    margin-top: 0px;
    margin-bottom: 5px;
    padding-top: 0px;
    padding-bottom: 205px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.wrapper_vis7 {
    position: relative;
    background-color: #525bff;
    margin-top: 0px;
    margin-bottom: 5px;
    padding-top: 0px;
    padding-bottom: 100px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

#vis_section_title {
    top: 0;
    right: 0;
    position: absolute;
    background-color: #52a9ff;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    border-radius: 20px;
    font-size: 30px;
}

#break_right {
    background-color: #525bff;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

#break_left {
    background-color: #525bff;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

#break_middle {
    background-color: #525bff;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
}

#arrivals_and_departures_treemap, #arrivals_map, #receipts_and_expenditure_bar, #attractions_dendrogram, #airport_traffic_map, #purpose_donut, #departures_bump {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}



