html {
    margin: auto;
    display: table;
}

body {
    background-image: url("./image_files/planes_flight_background.jpg");
    background-size: 20%;
    margin-top: 0px;
    margin-bottom: 0px;
    border-style: dashed;
    border-color: #525bff;
    border-width: 5px;
    border-radius: 5px;
}

h1 {
    text-align: center;
    font-family: 'Bungee Shade', cursive;
    font-size: 70px;
}

h2{
    text-align: center;
    font-family: 'Bungee Shade', cursive;  
}

h5 {
    text-align: center;
}

p {
    font-family: 'Open Sans', cursive;
}

.vega-bind-name {
    font-family: 'Open Sans', cursive;
}

.row {
    display: flex;
}

.columm_left {
    max-width: 50%;
    float: left;
}

.columm_right {
    max-width: 50%;
    float: right;
}

.chart_wrapper {
    background-color: #525bff;
}

#main_body_css {
    width: 1300px;
    vertical-align: middle;
    display: table-cell;
    background-color: rgb(234, 241, 244);
}

#title {
    background-image: url("./image_files/travel_background_updated.png");
    background-repeat: no-repeat;
    background-size:cover;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 100px;
    padding-bottom: 100px;
}

#explanation {
    background-color: #bde4f3;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    border-radius: 30px;
}

#vis_section_text {
    background-color: #bde4f3;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    border-radius: 30px;
}

#vis_section_title {
    background-color: #bde4f3;
    border-style: outset;
    border-color: #525bff;
    border-width: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    border-radius: 20px;
    font-size: 30px;
}

#break_middle {
    border-style: dashed;
    border-color: #525bff;
    margin-top: 60px;
    margin-bottom: 60px;
    height: 0px;
}

#highlight {
    color: red;
    font-weight: bold;
}

#green {
    color: green;
    font-weight: bold;
}

#lightblue {
    color: blue;
    font-weight: bold;
}

#darkblue {
    color: darkblue;
    font-weight: bold;
}

#arrivals_and_departures_treemap, #arrivals_map, #receipts_and_expenditure_bar, #attractions_dendrogram, #airport_traffic_map, #purpose_donut, #departures_bump {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}



