h1, h2, h4 {
    text-align: center;
}

.row {
    display: flex;
}

.columm {
    flex: 50%;
}

#arrivals_and_departures_treemap, #arrivals_and_departures_map, #receipts_and_expenditure_bar, #attractions_dendrogram, #airport_traffic_map {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

